# to ensure it works regardless of where it is called
BASE_DIR=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)
MAIN_DIR="$BASE_DIR/../../"

KIEKER_REPO_URL="https://github.com/kieker-monitoring/kieker-lang-pack-python.git"
KIEKER_DIR="$BASE_DIR/kieker-lang-pack-python"

# tool paths
TOOLS_DIR="$MAIN_DIR/tools"
PYTHON_SCRIPT="$TOOLS_DIR/pybenchmark/benchmark.py"
CONFIG_TEMPLATE="$BASE_DIR/config.ini.template"
CONFIG_FILE="$BASE_DIR/config.ini"
RESULTS_DIR="$BASE_DIR/results"
VENV_DIR="$BASE_DIR/venv"
REQUIREMENTS_FILE="$BASE_DIR/requirements.txt"

# make sure directory exists
mkdir -p "$RESULTS_DIR"